* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  color: rgb(146, 146, 146);
  position: absolute;
  bottom: 8px;
  font-family: 'Roboto', sans-serif;
}

.container-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.challengeLink {
  text-decoration: none;
  color: #fff;
  font-weight: 200;
  font-size: 28px;
}

.originLink {
  text-decoration: none;
  color: #fff;
  font-weight: 200;
  font-size: 28px;
}

.challenge {
  font-family: 'Roboto';
  cursor: pointer;
  outline: none;
  font-size: 35px;
  padding: 12px 0px;
  border-radius: 12px;
  background: #eea300;
  transition: border-color box-shadow 0.1s;
  color: #fff;
  margin-right: 32px;
  border: 4px solid #000;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.origin {
  font-family: 'Roboto';
  cursor: pointer;
  outline: none;
  font-size: 35px;
  padding: 12px 0px;
  border-radius: 12px;
  background: #eea300;
  transition: border-color box-shadow 0.1s;
  color: #fff;
  margin-left: 32px;
  border: 4px solid #000;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-icons {
  display: flex;
  align-items: center;
}

.icons {
  width: 32px;
  margin-right: 8px;
}

.challenge:hover {
  background: #eea30077;
}

.origin:hover {
  background: #eea30077;
}
